<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="content">
        <% if (videos.length > 0) { %>
       <div class="dashboard">

                 <!-- The Modal -->
                 <div id="theModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close">&times;</span>
                    <form id="mediaNameForm" style="margin: 10px;" method="post">
                        <label for="mediaName">Name</label>
                        <input class="name-input" id="mediaName" type="input" name="mediaName" />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-unline " type="submit">Edit Name</button>
                    </form>
                    </div>
                </div>

        <% for (let video of videos) { %>
            <div class="card" style="width: 25rem;">
                <h2 class="videoName" >
                    <% if (video.name.length > 15) { %>
                        <%= video.name.substring(0, 15) + "..." %>
                    <% } else { %>
                        <%= video.name %>
                    <% } %>
                </h2>
                
                <p><b>
                    <%= moment(video.createdAt).format("ddd, Do MMM YYYY") %>
                </b></p>
                <a class="btn btn-unline capitalization" href="/<%= video._id %>">Show <%= video.type %></a>
                <a onclick='editMedia("<%= video._id %>","<%= video.name %>")' style="margin-top: 7px;" class="btn-link" >Edit Name</a>
            </div>
        <% } %>

        </div>
        <section class="pagination">
            <% if (currentPage !== 1 && prevPage !== 1) { %>
                <a href="?page=1">1</a> 
            <% } %>            
            <% if (hasPrevPage) { %>
                <a href="?page=<%= prevPage %>" ><%= prevPage %></a>
            <% } %>
            <!-- CURRENT PAGE -->
            <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>

            <% if (hasNextPage) { %>
                <a href="?page=<%= nextPage %>" ><%= nextPage %></a>
            <% } %>
            <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                <a href="?page=<%= lastPage %>" ><%= lastPage %></a>
            <% } %>
        </section>
        <% } %>
       <!-- <div>
           //display videos or reports
       </div> -->
    </main>

<%- include('../includes/end.ejs') %>