<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="content">
        <% if (videos.length > 0) { %>
       <div class="dashboard">
        <!-- <button class="btn" type="submit">Get Videos</button> -->
        <!-- <a href="#" class="btn btn-unline"> Get Videos </a>
        <a href="#"  class="btn btn-unline"> Get Reports </a> -->
        <% for (let video of videos) { %>
            <div class="card" style="width: 25rem;">
                <h2><%= video.name.substring(0, 15) + "..." %></h2>
                <p><b>
                    <%= moment(video.createdAt).format("ddd, Do MMM YYYY") %>
                </b></p>
                <a class="btn btn-unline toUpperCase" href="/<%= video._id %>">Show <%= video.type %></a>
            </div>
        <% } %>

        </div>
        <section class="pagination">
            <% if (currentPage !== 1 && prevPage !== 1) { %>
                <a href="?page=1">1</a> 
            <% } %>            
            <% if (hasPrevPage) { %>
                <a href="?page=<%= prevPage %>" ><%= prevPage %></a>
            <% } %>
            <!-- CURRENT PAGE -->
            <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>

            <% if (hasNextPage) { %>
                <a href="?page=<%= nextPage %>" ><%= nextPage %></a>
            <% } %>
            <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                <a href="?page=<%= lastPage %>" ><%= lastPage %></a>
            <% } %>
        </section>
        <% } %>
       <!-- <div>
           //display videos or reports
       </div> -->
    </main>

<%- include('../includes/end.ejs') %>