<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="content">
       <div class="media">
           <% if (video.type === 'image') { %>
                <img src="<%= video.videoUrl %>" alt="<%= video.type %>" >
            <% } else {%>
                <video src="<%= video.videoUrl %>" autoplay controls></video>
                
            <% } %>
            <div class="media_footer">
                <span><%= dateCreated %></span> 
                <span>
                    <b><%= video.views %> views</b> 
                    <a href="/report/<%= video._id %>">Report</a>
                </span>
            </div>
       </div>
    </main>

<%- include('../includes/end.ejs') %>