<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="content">
       <div>
           <% if (video.type === 'image') { %>
                <img src="<%= video.videoUrl %>" alt="<%= video.type %>" >
            <% } else {%>
                <video src="<%= video.videoUrl %>" autoplay controls></video>
                
            <% } %>
       </div>
    </main>

<%- include('../includes/end.ejs') %>