<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="content">
       <div class="media">
        <% if(trendingLinks.length > 0){ %>
           <div class="trending">
               <ul>
                <% for(let trend of trendingLinks) { %>
                    <li>
                        <a 
                        class="btn-trending " 
                        href="/<%= trend._id %>">
                            <% if (trend.name.length > 15) { %>
                                <%= trend.name.substring(0, 15) + "..." %>
                            <% } else { %>
                                <%= trend.name %>
                            <% } %>
                        </a>
                    </li>
                <% } %>
                </ul>
            </div>
        <% } %>
        <div class="media_copy" >
            <i onclick="getLink()" class="icon">
                <%- include('../includes/copy-svg.ejs') %>
                <span id="copied-tooltip" class="tooltiptext">Copied</span>
            </i>
            <input type="text" name="copy" id="copy-link" >
        </div> 
           <% if (video.type === 'image') { %>
                <img src="<%= video.videoUrl %>" alt="<%= video.type %>" >
            <% } else if (video.type === 'video'  ) {%>
                <video src="<%= video.videoUrl %>" controls>
                    Sorry, your browser doesn't support HTML5 videos.
                </video>
            <% else if (video.type === 'audio') {%>
                <audio src="<%= video.videoUrl %>" controls >
                    Sorry, your browser doesn't support HTML5 audio.
                </audio>
            <% } else { %>
                <iframe src="http://docs.google.com/gview?url=<%= video.videoUrl %>&embedded=true" 
                    style=" height:500px;" 
                    frameborder="0"></iframe>                    
            <% } %>
            <div class="media_footer">
                <div class="media_footer-first">
                    <b><%= moment(video.createdAt, "YYYYMMDD").fromNow() %></b>
                    <% if (isAuthenticated && createdBy || isSuper) { %>
                    <form action="/delete" method="post">
                        <!-- <a href="/delete/">Delete</a> -->
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" value="<%= video._id %>" name="videoId">
                        <button class="btn-link" type="submit" >Delete</button>
                    </form>
                    <% } %>
                </div> 
                <span>
                    <b><%= video.views %> views</b> 
                    <a href="/report/<%= video._id %>">Report</a>
                </span>
            </div>       
           
       </div>

    </main>

    
    <!-- <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/s4BibernJxU" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe> -->
<%- include('../includes/ads.ejs') %>
<%- include('../includes/end.ejs') %>